.l-header {
  position: fixed;
  width: 100%;
  height: 60px;
  // padding: 30px 0;
  background-color: transparent;
  z-index: 5;
  transition: .4s all ease-in-out;

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include flex(flex, center, space-between);
    padding: 15px 50px;

    @media (max-width:1280px) {
      justify-content: space-around;
      // height: 100%;
    }
  }
}



.l-section {
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &--intro {
    position: relative;
    background-image: url('../img/section-intro/pic-1.png');
    background-size: cover;

    &::after {
      @include position($top:0, $left:0);
      @include size(100%);
      background-color: #fce38a;
      background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
      opacity: 0.6;
    }
  }

  &--counter {
    background-color: #95e1d3;
  }

  &--unique {
    background-image: url('../img/section-unique/pic-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      @include position($top:0, $left:0);
      @include size(100%);
      background-color: rgba(255, 255, 255, 0.85);

    }
  }

  &--slider {
    background-color: #f8f8f8;
  }

  &--logo {
    background-color: #f8f8f8;
  }

  &--client {
    background-image: url('../img/section-client/pic-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      @include position($top:0, $left:0);
      @include size(100%);
      background-color: rgba(255, 255, 255, 0.85);

    }
  }

  &--map {
    background-image: url('../img/section-map/pic-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      @include position($top:0, $left:0);
      @include size(100%);
      background-color: rgba(255, 255, 255, 0.85);

    }

    & div {
      padding: 20px 0;
    }
  }

  &--contact {
    background-color: #f8f8f8;
  }

}


//media querys
// screen < 1024px
@mixin l-section\@screen_wide {
  .l-section {

    &--slider {
      display: none;
    }

    &--intro {
      background-position: center;
    }
  }
}



.l-container {
  max-width: 1200px;
  @include size(100%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;

  @media (max-width:1280px) {
    width: 90%;
  }

  @media (max-width:640px) {
    padding: 80px 0;
  }

  @media (max-width:460px) {
    width: 85%;
  }



  &__counter {
    padding: 0;
  }

  &--unique {
    padding-bottom: 0;
  }

  &--logo {
    padding: 50px 0;
  }

  &--work {
    padding: 100px 0 0 0;
    max-width: 1920px;
  }

}


.l-footer {
  @include flex(flex, center, center);
  padding: 30px 0;

  & p>span {
    color: #f38181;
  }
}